.sidenav {
    height: 100%;
    width: 20%;
    min-width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D9D9D9;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: "Inter";
}

.sidenav h1 {
    font-size: 32px;
    padding-left: 10px
}

.sidenav a {
  padding: 5px 10px 5px 20px;
  text-decoration: none;
  font-size: 24px;
  display: block;
}

.main {
    margin-left: max(300px, 25%);
    /*padding: 0 50px 0 50px;*/
    margin-right: 100px;
    font-family: "Inter";
}

.main h2 {
    font-size: 48px;
}

.main .home {
    background: #D9D9D9;
    padding: 15px;
    border-radius: 40px;
}

.main label {
    font-size: 32px;
    padding: 10px;
}

.main .home input, .main .home select {
    display: block;
    width: 80%;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
}

.main .home input[type=submit] {
    width: 100px;
    height: 50px;
}

.main .filters {
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 40px;
    width: 100%;
}

.main .filters input, .main .filters select {
    display: inline-block;
    width: 170px;

    font-size: 18px;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.main .filters input.vendor {
    width: 200px;
}

.main .filters label {
    font-size: 18px;
}

.main .filters {
    background-color: #D9D9D9;
}

.main .view {
    background-color: #D9D9D9;
    display: block;
    padding: 15px;
    border-radius: 40px;
    width: 100%;
    margin-top: 20px;
}

.main .view select {
    margin-top: 20px;
}

.main .view input, .main .view select {
    display: inline;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    font-size: 14px;
}

.main .view input[type=submit] {
    width: 100px;
}

.main .upload {
    background-color: #D9D9D9;
    text-align: center;
    padding: 40px;
    font-size: 28px;
    border-radius: 40px;
}

.main .upload form {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    border-style: dashed;
}

.main .upload input[type=file] {
    display: none;
}

.main .upload label {
    cursor: pointer;
    font-size: 48px;
}

.main .upload input[type=submit] {
    font-size: 24px;
    width: 140px;
    height: 65px;
    border-radius: 5px;
    margin-top: 30px;
}

.main .upload .message {
    margin-top: 20px;
}