<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance Tracker</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

   <h2>Submit a Transaction</h2>
    <form action="/add" method="post">
        <input type="date" id="date" name="date">
        <input type="text" name="vendor" placeholder="Vendor">
        <input type="text" name="category" placeholder="Category">
        <input type="number" step="0.01" name="amount" placeholder="Amount">
        <input type="text" name="note" placeholder="Note">
        <input type="submit" value="Submit">
    </form>
    {% endblock %}

</body>
</html>