<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../static/images/icon.png">
    <title>Finance Tracker</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h2>Submit a Transaction</h2>
    <form action="/add" method="post" class="home">
        <label for="date">Date</label>
        <input type="date" id="date" name="date">
        <label for="vendor">Vendor</label>
        <input type="text" name="vendor" id="vendor" placeholder="Vendor">
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="" disabled selected>Category</option>
            {% for category in categories %}
                <option value="{{category[0]}}">{{category[0]}}</option>
            {% endfor %}
        </select>
        <label for="amount">Amount</label>
        <input type="number" step="0.01" name="amount" id="amount" placeholder="Amount">
        <label for="note">Notes on Transaction</label>
        <input type="text" name="note" id="note" placeholder="Note">
        <input type="submit" value="Submit">
    </form>
    {% endblock %}

</body>
</html>