<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance Tracker</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h2>Transactions</h2>

    <form action="/view" method="post">
        <label for="sort_by">Sort By:</label>
        <select name="sort_by" id="sort_by">
            <option value="default">Default</option>
            <option value="date_desc">Date Newest</option>
            <option value="date_inc">Date Oldest</option>
            <option value="amount_desc">Amount Decreasing</option>
            <option value="amount_inc">Amount Increasing</option>
        </select>
        <br>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date">
        <label for="start_date">End Date:</label>
        <input type="date" id="end_date" name="end_date">
        <input type="submit" value="Submit">
    </form>

    {% for row in data %}
    <tr>
<!--        <td>{{ row[0] }}</td>-->
<!--        <td>{{ row[1] }}</td>-->
<!--        <td>{{ row[2] }}</td>-->
<!--        <td>{{ row[3] }}</td>-->
<!--        <td>{{ row[4] }}</td>-->
<!--        <td>{{ row[5] }}</td>-->

        <td>
            <form action="/update" method="post">
            <input type="hidden" name="id" value="{{ row[0] }}">
            <input type="date" name="date" value="{{ row[1] }}">
            <input type="text" name="vendor" value="{{ row[2] }}">
            <select name="category" id="category">
                <option value="{{ row[3] }}">{{ row[3] }}</option>
                {% for category in categories %}
                    <option value="{{category[0]}}">{{category[0]}}</option>
                {% endfor %}
            </select>
<!--            <input type="text" name="category" value="{{ row[3] }}">-->
            <input type="number" name="amount" step=0.01 value="{{ row[4] }}">
            <input type="text" name="note" value="{{ row[5] }}">
            <input type="submit" value="Update">
        </form>
        <form action="/delete" method="post">
            <input type="hidden" name="id" value="{{ row[0] }}">
            <input type="submit" value="Delete">
        </form>
        </td>
    </tr>
    {% endfor %}

    {% endblock %}

</body>
</html>