<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finance Tracker</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h2>Transactions</h2>

    <!--Filter menu-->
    <form action="/view" method="post" class="filters">
<!--        <label for="sort_by">Sort By:</label>-->
        <!--Sort by menu-->
        <select name="sort_by" id="sort_by">
            <option value="default">Sort By:</option>
            <option value="date_desc">Date Newest</option>
            <option value="date_inc">Date Oldest</option>
            <option value="amount_desc">Amount Decreasing</option>
            <option value="amount_inc">Amount Increasing</option>
        </select>
<!--        <br>-->
        <!--Start date-->
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date">
        <!--End Date-->
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date">
<!--        <br>-->
        <!--Category-->
        <select name="category">
            <option value="" disabled selected>Category</option>
            {% for category in categories %}
                <option value="{{category[0]}}">{{category[0]}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="text" name="vendor" class="vendor" placeholder="Vendor">
<!--        <br>-->
        <input type="number" step=0.01 name="min_amount" id="min_amount" placeholder="Minimum Amount">
        <input type="number" step=0.01 name="max_amount" id="max_amount" placeholder="Maximum Amount">
        <input type="submit" value="Apply Filters">
    </form>

    <!--Display Transactions-->
    <div class="view">
    {% for row in data %}
    <tr>
<!--        <td>{{ row[0] }}</td>-->
<!--        <td>{{ row[1] }}</td>-->
<!--        <td>{{ row[2] }}</td>-->
<!--        <td>{{ row[3] }}</td>-->
<!--        <td>{{ row[4] }}</td>-->
<!--        <td>{{ row[5] }}</td>-->

        <!--Update transactions-->
        <td>
            <!--One row of data-->
            <form action="/update" method="post">
            <!--Id column-->
            <input type="hidden" name="id" value="{{ row[0] }}">
            <!--Date column-->
            <input type="date" name="date" value="{{ row[1] }}">
            <!--Vendor column-->
            <input type="text" name="vendor" value="{{ row[2] }}">
            <!--Category column-->
            <select name="category" id="category">
                <option value="{{ row[3] }}">{{ row[3] }}</option>
                {% for category in categories %}
                    <option value="{{category[0]}}">{{category[0]}}</option>
                {% endfor %}
            </select>
            <!--Amount column-->
            <input type="number" name="amount" step=0.01 value="{{ row[4] }}">
            <!--Notes column-->
            <input type="text" name="note" value="{{ row[5] }}">
            <input type="submit" value="Update">
        </form>

        <!--Delete transaction-->
        <form action="/delete" method="post">
            <input type="hidden" name="id" value="{{ row[0] }}">
            <input type="submit" value="Delete">
        </form>
        </td>
    </tr>
    {% endfor %}

    </div>

    {% endblock %}

</body>
</html>